.display{
    width: 768px;
    height: 500px;
    position: absolute;
    top : 100px;
    left : 200px;
    background-Color : purple;
}

.frame.two-third{
    width : 66%;
    height : 100%;
    position : relative;
    background-Color : blue;
    float : left;
}

.panel{
    width : 34%;
    height : 100%;
    background-Color : red;
    float : left;
    position :relative;
}

.planet{
    position : relative;
    width : 60%;
    height : 60%;
    background-Color : orange;
    top : 20%;
    left : 20%
}

.UI_bar{
    width : 60%;
    height : 10%;
    position : absolute;
    background-Color : green;
    bottom : 0%;
    left : 20%;
}

.UI_bar .UI_element{
    width : 15%;
    height : 95%;
    position : relative;
    margin : 1%;
    background-Color : purple;
    float : left;
}